<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Edit Post</title>
        <!-- TODO: Write description -->
        <meta name="description" content=""> 
        <!-- TODO: Are these the settings we want -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- TODO: Do we want jquery
        <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
        </script> -->
        <link rel="stylesheet" href="..\static\style.css">
    </head>
    <body>
        <header>
            <!-- Final back button will probably just be visual, no words (will need accessibility for that) -->
            <button id="backButton" type="button">Go Back</button>     
            <button type="button">Finish Post</button>
        </header>
        <!-- Final button will probably just be visual, no words (will need accessibility for that) -->
        <button type="button">Add Element</button>
    </body>
</html>
