<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Edit Post</title>
        <!-- TODO: Write description -->
        <meta name="description" content=""> 
        <!-- TODO: Are these the settings we want -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
        </script>
        <link rel="stylesheet" href="..\static\style.css">
    </head>
    <body>
        <header>
            <!-- Final back button will probably just be visual, no words (will need accessibility for that) -->
            <a href="../"><button id="backButton" type="button">Go Back</button></a>
            <button type="button" onClick="finishPost()">Finish Post</button>
        </header>
        <!-- Final button will probably just be visual, no words (will need accessibility for that) -->
        <!-- Joslenne question??? -->
        <article>
            <div id="addDiv">
                <button id="addButton" type="button" onClick="addElement()">Add Element</button>
                <div id="addChoice">
                    <button type="button" onClick="addMusic()">Music</button>
                    <button type="button" onClick="addText()">Text</button>
                </div>    
            </div>
        </article>

        <!-- <div id="embed-iframe"></div> -->
        <div id="finishDiv">
            <div id="finishInsides">
                <button type="button" onClick="closeFinishPost()">Go Back</button>
                <form id="finishForm">
                    <label>Enter a title for your post:</label>
                    <input type="text" name="title"><br/>
                    <label>Enter a description:</label><br/>
                    <textarea name="description"></textarea><br/>
                    <input type="submit" value="Post">
                </form>	    
            </div>
        </div>
        <script src="..\static\script.js" async defer></script>
        <!-- <script src="https://open.spotify.com/embed/iframe-api/v1" async></script> -->
    </body>
</html>