<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Create a New Post</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
        </script>
        <link rel="shortcut icon" href="../static/favicon.ico">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body class="createPost" onload="initCreatePost()">
        <header>
            <button id="backButton" type="button">&lt;</button>
            <button id="logout" type="button">Log Out</button>
        </header>
        <article>
            <div id="addDiv">
                <button id="addButton" type="button" onClick="clickAdd()">+</button>
                <div id="addChoice">
                    <button id="addMusic" type="button" onClick="addMusic()">Music</button><br>
                    <button id="addText" type="button" onClick="addText()">Text</button>
                </div>    
            </div>
            <button type="button" id="finishButton" onClick="finishPost()">Finish Post</button>
        </article>
        <div id="deleteButtons">
            
        </div>
       
        <div id="finishDiv">
            <div id="finishInsides">
                <button class="backButton" type="button" onClick="closeFinishPost()">&lt;</button>
                <form id="finishForm">
                    <label>Enter a title for your post:</label>
                    <input type="text" name="title"><br>
                    <label>Enter a description:</label><br>
                    <textarea name="description"></textarea><br>
                    <input class="formSubmit" type="submit" value="Post">
                </form>	    
            </div>
        </div>
        <script src="../static/script.js" async defer></script>
        <script>
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        </script>
    </body>
</html>