<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>NoteClip</title>
        <!-- TODO: Write description -->
        <meta name="description" content=""> 
        <!-- TODO: Are these the settings we want -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- TODO: Do we want jquery -->
        <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
        </script> 
        <link rel="stylesheet" href="..\static\style.css">
    </head>
    <body>
        <header>
            <h1>NoteClip</h1>
            <a href="/login"><button type="button">Log In</button></a>
            <!-- <button type="button" onClick="getAccessKey()">Authorize</button> -->
        </header>
        <!-- Have some Jinja in here asking if there are posts in database, 
            then if there are greater than some amount (10?) (probably only want to load so many at once) (big questions here),
            then display most recent max or less posts -->
        <script src="..\static\script.js" async defer></script>
    </body>
</html>
