<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>NoteClip</title>
        <!-- TODO: Write description -->
        <meta name="description" content=""> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
        </script> 
        <link rel="shortcut icon" href="..\static\favicon.ico">
        <link rel="stylesheet" href="..\static\style.css">
    </head>
    <body class="home">

        <header>
            <!-- Put it as png cause it kept having weird excess space as an svg (maybe its a problem of how i saved the svg) -->
            <img src="..\static\images\NoteClipLight.png" alt="a graphic representing a treble clef surrounding a pen" />
            <h1>NoteClip</h1>
            <h2>Recent Posts</h2>
            {% if login %}
                <div id="twoButton">
                    <button id="newPostButton" type="button">Add Post</button>
                    <button id="logout" type="button">Log Out</button>
                </div>
            {% else %}
                <button id="loginButton" type="button">Log In</button>
            {% endif %}
            
        </header>
        <div id="blog-posts">
            {% for post in posts %}
                <a href="/post/{{post.title}}">
                <p>{{post.title}}</p>
                <p>by {{post.authorId.username}}</p>
                <p>{{post.summary}}</p>
                </a>
                </br>
            {% endfor %}
        </div>
        <script src="..\static\script.js" async defer></script>
    </body>
</html>
