<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Create a New Account</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="..\static\style.css">
    </head>
    <body class="account">
        <header>
            <h1>NoteClip</h1>
        </header>
        <form method="POST">
            <input type="text" name="username" placeholder="username" /><br/>
            <input type="password" name="password" placeholder="password" /><br/>
            <button type="submit">Create Your Account</button>
        </form>    
        <script src="" async defer></script>
    </body>
</html>
