<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ postName }}</title>
        <!-- TODO: Write description -->
        <meta name="description" content=""> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
        </script>
        <link rel="shortcut icon" href="../static/favicon.ico">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body class="post" onload="initViewPost()">
        <header>
            <!-- TODO: Add ARIA(?) -->
            <button id="backButton" type="button">&lt;</button>     
            <h1>{{ title }}</h1>
            <button id="logout" type="button">Log Out</button>
            <h2> Written by {{ author }} </h2>
            <div class="horizontal_line"></div>
        </header>
        <!-- Help from: https://stackoverflow.com/questions/3206344/passing-html-to-template-using-flask-jinja2 -->
        <article>{{ article|safe }}</article>
        
        <script src="../static/script.js" async defer></script>
        <script>
            var tag = document.createElement('script');

            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        </script>
    </body>
</html>
