/* Fonts */

/* Title font */
@font-face {
	font-family: crucial;
	src: url(fonts/crucial/Crucial-Medium.otf);
} 

/* Body font */
@font-face {
  font-family: merriweather;
  src: url(fonts/merriweather/Merriweather-Regular.ttf);
}

body {
  font-family: merriweather;
}

h1 {
  font-family: crucial;
  font-size: 4rem;
  margin: 0;
}

/* Default button styling */
button, .formSubmit, .backButton, .commentButton {
  font-family: merriweather;
  font-size: 1.5rem;

  background-color: white;
  border: 0.1rem solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

button:hover, .formSubmit:hover, .backButton:hover, .commentButton:hover, .commentsDiv img:hover {
  background-color: rgb(193, 193, 193);
}

/* Default input styling */
input, textarea {
  margin: 0.5rem;
  font-size: 1.25rem;
  font-family: merriweather;
}

textarea {
  margin-left: 0;
}

#logout {
  float: right;
}

header .backButton {
  float: left;
}

p, .formSubmit,  label, .timestampButton {
  font-size: 1.25rem;
  margin: 0;
}

/* ---------- */
/* Home page */
/* -------- */

.home header {
  display: grid;
  
	grid-template-columns: 1fr 5fr 1fr 1fr;
	grid-template-rows: 10rem 4rem;  

  margin: 0;
  margin-bottom: 2.5rem;
}

.home header img {
  grid-column: 1;
  grid-row: span 2;
  display: inline-block;
  height: 15rem;
  width: 8rem;
  padding-left: 2rem;
}

.home h1 {
  grid-column: 2;
  grid-row: 1;
  padding-left: 2rem;
  margin: 0.5rem;

  font-size: 8rem;
}

.home h2 {
  grid-column: 2;
  grid-row: 2;
  padding-left: 2rem;
  margin: 0.5rem;
  align-self: end;
  font-size: 2.5rem;
}

.home button {
  margin: 0.75rem;
  margin-bottom: 6rem;
}

.home #loginButton {
  grid-column: 4;
}

.home #newPostButton {
  grid-column: 3;
}

.home #logout {
  grid-column: 4;
}

/* feed display */
.home #blog-posts {
  margin: 0.5rem 12.5rem;
  display: flex;
  /* justify-content: space-between; */
  column-gap: 3.9rem;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.home .post-item {
  flex: 0 0 15rem;
}

.home .hidden, #lessPostsButton {
  display: none;
}

#lessPostsButton, #allPostsButton {
  margin-left: 12.5rem;
  margin-top: 2rem;
}

.home img {
  margin-bottom: 1rem;
}

.home a {
  text-decoration: none;
  color:rgb(0, 0, 0);
}

.home .post-item:hover {
  background-color: rgb(193, 193, 193);
}

.home .title {
  margin-top: 1.75rem;
  display: inline;
  font-size: 2rem;
}

.home .author {
  display:inline;
  color: #2e3192;
}

.home .summary {
  font-style: italic;
}

/* ---------------------------- */
/* Login or create new account */
/* -------------------------- */

.account {
  /* Coded with help from: https://www.w3schools.com/howto/howto_css_center-vertical.asp */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -75%);
  transform: translate(-50%, -75%);

  text-align: center;
}

.account h1 {
  padding-bottom: 1rem;
  font-size: 5rem;
}

.account a {
  text-decoration: none;
  color: black;
}

.account button {
  font-size: 1.25rem;
  margin: 0.5rem;
}

/* ----- */
/* Post */
/* --- */

.post header {
  display: grid;
  grid-template-columns: 1.5fr 19.5fr 3fr;
  padding-bottom: 1rem;
}

.post header h1, h2, .horizontal_line {
  grid-column: 2;
}

h2 {
  margin: 0.1rem;
  font-style: italic;
}

.post #backButton {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  margin-right: 2rem;
}

/* Help from: https://www.geeksforgeeks.org/how-to-add-horizontal-line-in-html/ */
.horizontal_line {
  width: 80%;
  height: 3px;
  border-top: 3px solid #2e3192;
  line-height: 80%;
}

.post article {
  padding-left: 6.5%;
  padding-right: 13%;
  padding-top: 2rem;
}

/* --------------------- */
/* Create Post and Post */
/* ------------------- */


#logout {
  grid-column: 3;
}

/* Comments stuff */

.commentsDiv {
  grid-column: 2;
  margin-left: 1rem;
} 

.commentsDiv p {
  display: inline-block;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.commentsDiv img {
  height: 1.25rem;
  width: 1.25rem;

  /* Dropdown not opened by default */
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.comments-music {
  display: none;
  padding-left: 2rem;
}

.comments-music p {
  font-size: 1.25rem;
}

/* Indicate that you can click it */
.comments-music p:hover {
  color:#2e3192;
}

.comment {
  padding-top: 1rem; 
}

/* ------------ */
/* Create Post */
/* ---------- */

.createPost {
  display: grid;
  grid-template-columns: 1fr 20fr 3fr;
}

.createPost header {
  grid-column: span 3;

  display: grid;
  grid-template-columns: 1fr 20fr 3fr;
  padding-bottom: 1rem;
}

.createPost article {
  grid-column: 2;
}

#deleteButtons { 
  grid-column: 3;
}

/* Adding block */

.createPost #addDiv {
  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: 4rem 8rem;
}

.createPost #addButton {
  font-size: 2rem;
  padding: 0.2rem;
  text-align: center;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;

  grid-row: 1;
  grid-column: 1;
}

.createPost #addChoice {
  display: none;
  border: 0.1rem;
  border-style: solid;
  border-radius: 0.25rem;

  text-align: center;

  grid-row: span 2;
  grid-column: 2;
}

.createPost #addMusic, #addText {
  border: 0rem;
  border-radius: 0.25rem;
  width: 100%;
}

/* Text block */

/* Written with help from here: https://stackoverflow.com/questions/37844735/custom-placeholder-with-contenteditable-element */
[data-placeholder]:empty:before{
  content: attr(data-placeholder);
  color: #888;
  font-style: italic;
}

/* Help from: https://blog.frankmtaylor.com/2012/01/23/html5-contenteditable-and-css/ */
[contenteditable="true"]:active,
[contenteditable="true"]:focus{
  border:none;
  outline:none;
}

.deleteButton {
  font-size: 1.25rem;
}

/* Music block */

.musicDiv {
  display: grid;

  grid-template-columns: 640px 20rem 1fr;
}

search {
  grid-column: span 3;
}

/* Search results */

#search-results {
  grid-column: span 3;
  padding: 0.5rem;
}

.thumbnail {
  grid-column: 1;
  width: 9.8rem;
  height: 6rem;
  padding-bottom: 0.5rem;
}

.addVideoButton {
  grid-column: 3;
  margin-bottom: 2rem;
}

.search-choice {
  display: grid;
  grid-template-columns: 11rem 7fr 1fr;
}

.search-title {
  grid-column: 2;
  padding-right: 1rem;
}

.loading {
  margin-left: 0.75rem;
}

/* Video Chosen */

iframe {
  grid-column: 1;
}

/* Comments */

.commentButton {
  width: 3.2rem;
  height: 3rem;

  border: 0.3rem solid rgb(0, 0, 0);

  margin: 0;
  margin-top: 1rem;
}

/* Comment form */

.commentForm {
  margin-top: 1rem;
  
  display: grid;
  grid-template-columns: 12rem 4rem 1rem 4rem 15rem
}

.commentForm label {
  grid-column: 1;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.timeInputMin, .timeInputSec {
  margin: 0;
  width: 3rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.timeInputMin {
  grid-column: 2;
}

.timeInputSec {
  grid-column: 4;
}

.timestampButton {
  grid-column: 5;
}

.timeDiv {
  padding-left: 0 !important;
  grid-column: 3;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

textarea {
  grid-column: span 5;
}

/* Finish Post */

.createPost #finishButton {
  margin-top: 1rem;
  float: right;
}

/* Used to help build the finish post popup: https://www.w3schools.com/howto/howto_css_modals.asp */
/* Didn't change any from tutorial */
#finishDiv {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Didn't change any from tutorial */
#finishInsides {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}